<router-outlet></router-outlet>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<div class="container">
    <app-student  (onadd)="addUser($event)" [formdata]="" [selectedId]="selectedId" [isEdit]=""  (onUpdate)="update_user()">
    </app-student>

<table border="2">
    <thead>
        <tr>
       
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
    <tbody>
        <tr *ngFor = "let user of users; index as i">
            
            <td> {{user.name}} </td>
            <td> {{user.username}} </td>
            <td> {{user.email}} </td>
            <td> {{user.phone}} </td>
            
            <td><span class="fa fa-edit" (click)="edittUser(user,i)"></span></td>
            <td><span class="fa fa-trash" (click)="delete(i)"></span></td>
        </tr>
    </tbody>
 
</table>
</div>

